:root {
  --primary-color: #7264fa;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Lora", serif;
  --deafult-font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
}

p,
li,
a {
  font-family: var(--default-font-family);
}

.logo {
  max-width: 90px;
  max-height: 75px;
}

.logo-small {
  max-width: 48px;
  max-height: 40px;
}

nav {
  padding: 10px 0;
}

nav ul {
  padding: 15px 0 0 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 30px;
  font-weight: 500;
}

nav a {
  text-decoration: none;
  color: black;
  opacity: 80%;
}

.active,
nav a:hover {
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 150px 20px 150px 20px;
}

.hero h1 {
  font-size: 90px;
}

.hero p {
  font-size: 28px;
}

.homepage-subheading {
  padding: 30px 0px 50px 0;
  text-align: center;
  font-size: 45px;
}

.row {
  margin-bottom: 60px;
}

.project-description {
  padding: 60px 40px 60px 40px;
}

.project-description h3 {
  padding-bottom: 40px;
  font-size: 28px;
}

.project-description p {
  font-size: 20px;
}

.learn-more-btn {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 18px;
  font-weight: 450;
  padding: 10px 25px;
  margin: 30px 0;
  border-radius: 6px;
}

.learn-more-btn:hover {
  background-color: var(--primary-color);
  color: white;
  transition: all 100ms ease-in-out;
}

.page-content {
  padding: 50px 40px 20px 40px;
  line-height: 1.5;
}

.page-content h2 {
  font-size: 22px;
}

.shecodes-link {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 450;
}

.btn-branding {
  background-color: var(--primary-color);
  color: white;
  font-size: 18px;
  font-weight: 450;
  padding: 10px 25px;
  margin: 40px 0 40px 0;
  border-radius: 6px;
}

.btn-branding:hover {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: all 100ms ease-in-out;
}

.portfolio-image {
  width: 400px;
  border-radius: 50%;
  margin: 0 0px 0px 60px;
}

.about-page,
.projects-page,
.contact-page {
  text-align: center;
}

.projects-image {
  width: 500px;
}

.contact-page-links {
  color: black;
  text-decoration: none;
  opacity: 80%;
}

.contact-page-links:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.contact-me-image {
  width: 250px;
  border-radius: 4px;
  margin: 12px 0 0 0;
}

footer {
  margin-bottom: 60px;
  padding: 0 12px;
}

footer .contact-box {
  background: var(--secondary-color);
  margin-bottom: 30px;
  padding: 30px 100px 10px 100px;
}

footer h4 {
  font-size: 30px;
}

footer .email-link {
  text-align: center;
  font-weight: 500;
}

footer .email-link a {
  text-decoration: none;
  color: black;
}

footer .email-link a:hover {
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

footer .social-links {
  text-align: center;
  font-size: 26px;
  margin: 20px 0 10px 0;
}

footer .social-links a {
  color: black;
  border-radius: 50%;
  padding: 13px 0;
  margin: 0 10px;
}

footer .social-links a:hover {
  color: white;
  background: var(--primary-color);
  transition: all 100ms ease-in-out;
}

footer .signature {
  text-align: center;
  font-size: 16px;
  margin: 20px;
}

footer .signature a {
  text-decoration: none;
  color: var(--primary-color);
}

@media (max-width: 769px) {
  nav ul {
    padding: 0;
  }
  nav li {
    font-size: 14px;
    margin-left: 12px;
  }
  .hero h1 {
    font-size: 45px;
  }
  .hero p {
    font-size: 26px;
  }
  .container {
    margin: 0 auto;
  }
  .project-description,
  .contact-page {
    text-align: center;
    padding: 0;
  }
  .homepage-subheading {
    font-size: 32px;
  }
  .project-description h2 {
    font-size: 26px;
  }
  .page-content {
    text-align: center;
    padding: 40px 10px;
  }
  .page-content h1 {
    font-size: 34px;
  }
  .portfolio-image {
    width: 330px;
    display: block;
    margin: 0 auto;
  }
  .projects-image {
    width: 330px;
  }
  footer .contact-box {
    padding: 30px 30px 10px 30px;
  }
  footer h4 {
    font-size: 20px;
  }
  footer .social-links {
    font-size: 16px;
  }
}
