:root {
  --primary-color: #f9f7fe;
  --secondary-color: #7264fa;
  --alternative-color: #5685b5;
  --heading-font-family: "Lora", serif;
  --deafult-font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
}

p,
li {
  font-family: var(--default-font-family);
}

.logo {
  max-width: 90px;
  max-height: 75px;
}

.logo-small {
  max-width: 48px;
  max-height: 40px;
}

nav {
  padding: 10px 0;
}

nav ul {
  padding: 15px 0 0 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 30px;
  font-weight: 500;
}

nav a {
  text-decoration: none;
  color: black;
  opacity: 80%;
}

.active,
nav a:hover {
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 160px 20px 90px 20px;
}

.hero h1 {
  font-size: 90px;
}

.hero p {
  font-size: 28px;
}

.btn-branding {
  background-color: var(--secondary-color);
  color: white;
  font-size: 18px;
  font-weight: 450;
  padding: 10px 25px;
  margin: 30px 0;
  border-radius: 6px;
}

.btn-branding:hover {
  background-color: white;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  transition: all 100ms ease-in-out;
}

.social-icons {
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
}

.featured-projects h2 {
  padding: 60px 0px;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  font-family: var(--heading-font-family);
}

.project-description {
  padding: 60px 40px 60px 40px;
}

.project-description h2 {
  padding-bottom: 40px;
  font-size: 36px;
  font-weight: bold;
  font-family: var(--heading-font-family);
}

.project-description p {
  font-size: 20px;
  font-family: var(--default-font-family);
}

.learn-more-btn {
  background-color: white;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  font-size: 18px;
  font-weight: 450;
  padding: 10px 25px;
  margin: 30px 0;
  border-radius: 6px;
}

.learn-more-btn:hover {
  background-color: var(--secondary-color);
  color: white;
  transition: all 100ms ease-in-out;
}

.content {
  padding: 160px 40px 90px 40px;
}

.content h1 {
  font-size: 50px;
}

.content h2 {
  font-size: 22px;
  line-height: 1.5;
}

.content p {
  font-weight: 400;
  line-height: 1.6;
}

.shecodes-link {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 450;
}

.portfolio-image {
  width: 400px;
  border-radius: 750px;
  margin: 30px 0px 0px 60px;
}

.projects-page {
  text-align: center;
}

.projects-image {
  width: 500px;
}

.contact-links {
  color: black;
  text-decoration: none;
  opacity: 80%;
}

.contact-links:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

footer {
  margin: 100px 0 60px 0;
  padding: 0 12px;
}

footer .contact-box {
  background: var(--primary-color);
  margin: 50px 0 50px 0;
  padding: 40px 150px 10px 150px;
}

footer .contact-me {
  margin: 10px 0 0 0;
}

footer h4 {
  font-size: 40px;
}

footer p {
  font-size: 20px;
}

footer .email-link {
  text-align: center;
  font-size: 22px;
}

footer .email-link a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

footer .email-link a:hover {
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

footer .social-links {
  text-align: center;
  font-size: 26px;
  margin: 30px;
}

footer .social-links a {
  color: var(--secondary-color);
  background: var(--primary-color);
  border-radius: 50%;
  padding: 13px 0;
  margin: 0 20px;
}

footer .social-links a:hover {
  color: white;
  background: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

@media (max-width: 769px) {
  nav ul {
    padding: 0;
  }
  nav li {
    font-size: 14px;
    margin-left: 12px;
  }
  .hero h1 {
    font-size: 45px;
  }
  .hero p {
    font-size: 26px;
  }
  .container {
    margin: 0 auto;
  }
  .featured-projects,
  .project-description {
    text-align: center;
    padding: 0;
  }
  .featured-projects h2 {
    font-size: 32px;
  }
  .project-description h2 {
    font-size: 26px;
  }
  .content {
    text-align: center;
    padding: 40px 10px;
  }
  .content h1 {
    font-size: 34px;
  }
  .portfolio-image {
    width: 330px;
    display: block;
    margin: 0 auto;
  }
  .projects-image {
    width: 330px;
  }
  footer .email-link {
    font-size: 20px;
  }
  footer .social-links {
    font-size: 16px;
    margin: 30px 10px;
  }
}
